@CHARSET "ISO-8859-1";

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#D3D3D3;
    overflow-x: hidden;
    padding-top: 80px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: rgb(62, 12, 242);
    background-color: #4CAF50;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*right side nav*/
.sidenavRight {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 86%;
    background-color:#D3D3D3;
    overflow-x: hidden;
    padding-top: 80px;
}

.sidenavRight a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenavRight a:hover {
    color: #f1f1f1;
    background-color: #4CAF50;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 73%;
  /* Set the fixed height of the footer here */
  margin-left: 200px; /* Same as the width of the sidenav */
  height: 100px;
  background-color: hsl(0, 5%, 35%);
}
.navbar  {
    position: absolute;
    width: 73%;
    height: 60px;
    background-color: #0a0a0a;
    color: white;
    margin-left: 200px; /* Same as the width of the sidenav */
}